/*
CIS 124: Introduction to JavaScript
Module 6: Scrimba Exercises Part 2
Build a Chrome Extension, https://scrimba.com/playlist/pPD7Kt4
Practice Part 3, https://scrimba.com/playlist/pQgXphg
*/

/* BODY. Tepper, 18NOV2022 */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    padding: 10px;
    background-color: #EDD2E0;
    color: #2B4570;
    border: 3px solid #E49273;
/*     text-align: center;
    width: 500px; */
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid #2B4570;
    margin-bottom: 4px;
}

button {
    background: #2B4570;
    color: #E49273;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
}

footer {
    font-family: 'Questrial', sans-serif;
    font-display: block;
    font-size: 20px;
    text-align: center;
    background-color: #2B4570;
    width: 500px;
    color: #E49273;
    padding-top: 1px;
    padding-bottom: 1px;
}

/*
FONTS: 


COLORS:
    Glaucous: 7180AC
    <font> Dark Cornflower Blue: 2B4570
    Paolo Veronese Green: 419D78
    Dark Salmon: E49273
    <bg> Queen Pink: EDD2E0
*/